In [222]:
import requests
import pandas as pd 
import json
import datetime

In [195]:
#Consumo da API (importação dos dados) 
# exemple = requests.get("http://localhost:3000/api/ep1")
# dados = exemple.json()
# print(dados)
# df = pd.DataFrame(dados)

In [223]:
#fazendo várias requisições e concatenando os dataframes
df = pd.DataFrame()
for i in range(80):
    exemple = requests.get("http://localhost:3000/api/ep1")
    dados = exemple.json()
    df_aux = pd.DataFrame(dados) 
    df = pd.concat([df,df_aux], axis = 0)

In [224]:
df

,id,date,prod_0,prod_2,prod_3,prod_4,prod_6,prod_9,prod_15,prod_1,prod_5,prod_8,prod_10,prod_11,prod_7
0,la4kbdwnx2vck6w2q8,1.990409e+09,3.558774,36.572131,32.620868,22.657779,13.730262,24.419806,5000.765194,NaN,NaN,NaN,NaN,NaN,NaN
1,la4kbdyowp6d98wbbqp,1.990425e+09,NaN,NaN,NaN,NaN,39.201865,443.031417,4666.746033,0.323967,18.496256,27.853628,725.794024,648.240782,NaN
2,la4kbdyolxqoht97ka,1.990423e+09,7.451919,33.448864,NaN,23.388650,25.649758,3.797011,5183.529837,45.366923,25.305246,NaN,126.910799,370.999989,24.971752
3,la4kbdyzlroefecp0y,1.990423e+09,23.137073,NaN,NaN,NaN,NaN,26.962193,4798.979704,NaN,NaN,40.050811,NaN,430.656982,NaN
4,la4kbdyzihw2i9gdc4,1.990386e+09,33.578698,NaN,24.792885,NaN,21.989233,NaN,5017.021961,NaN,4.571990,778.873024,NaN,NaN,40.199218
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,la4kbfng3m250g43sm1,2.038190e+09,11.603192,NaN,27.185222,38.071281,NaN,16.841214,4564.637594,NaN,4.786115,37.517901,NaN,NaN,NaN
1,la4kbfngyllj6bpt2m,2.038176e+09,48.959135,NaN,7.531368,NaN,23.605153,11.399484,4440.978287,12.733481,45.945152,11.454695,NaN,NaN,NaN
2,la4kbfngb5f61su3jb,2.038215e+09,14.023611,27.949262,NaN,26.268256,NaN,28.164115,4664.708148,NaN,NaN,26.752743,71.778749,NaN,25.941951
3,la4kbfngq294u67n2c,2.038185e+09,28.080093,NaN,15.080402,1.128799,25.803549,NaN,4220.699100,NaN,NaN,202.997712,NaN,NaN,35.671188
4,la4kbfng8gttqvum8u6,2.038188e+09,NaN,NaN,14.131860,NaN,NaN,23.041482,4715.396511,NaN,NaN,10.353028,-295.201176,308.616110,NaN

In [225]:
#Transformando a data de milésimo de segundo para formato normal
df['date_converted'] = df['date'].apply(lambda x:datetime.datetime.fromtimestamp(x))
df

The history saving thread hit an unexpected error (OperationalError('database or disk is full')).History will not be written to the database.

,id,date,prod_0,prod_2,prod_3,prod_4,prod_6,prod_9,prod_15,prod_1,prod_5,prod_8,prod_10,prod_11,prod_7,date_converted
0,la4kbdwnx2vck6w2q8,1.990409e+09,3.558774,36.572131,32.620868,22.657779,13.730262,24.419806,5000.765194,NaN,NaN,NaN,NaN,NaN,NaN,2033-01-27 00:20:38.435599
1,la4kbdyowp6d98wbbqp,1.990425e+09,NaN,NaN,NaN,NaN,39.201865,443.031417,4666.746033,0.323967,18.496256,27.853628,725.794024,648.240782,NaN,2033-01-27 04:47:11.978733
2,la4kbdyolxqoht97ka,1.990423e+09,7.451919,33.448864,NaN,23.388650,25.649758,3.797011,5183.529837,45.366923,25.305246,NaN,126.910799,370.999989,24.971752,2033-01-27 04:08:24.881249
3,la4kbdyzlroefecp0y,1.990423e+09,23.137073,NaN,NaN,NaN,NaN,26.962193,4798.979704,NaN,NaN,40.050811,NaN,430.656982,NaN,2033-01-27 04:13:25.173091
4,la4kbdyzihw2i9gdc4,1.990386e+09,33.578698,NaN,24.792885,NaN,21.989233,NaN,5017.021961,NaN,4.571990,778.873024,NaN,NaN,40.199218,2033-01-26 17:53:19.871755
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,la4kbfng3m250g43sm1,2.038190e+09,11.603192,NaN,27.185222,38.071281,NaN,16.841214,4564.637594,NaN,4.786115,37.517901,NaN,NaN,NaN,2034-08-03 00:54:45.695107
1,la4kbfngyllj6bpt2m,2.038176e+09,48.959135,NaN,7.531368,NaN,23.605153,11.399484,4440.978287,12.733481,45.945152,11.454695,NaN,NaN,NaN,2034-08-02 21:03:56.884321
2,la4kbfngb5f61su3jb,2.038215e+09,14.023611,27.949262,NaN,26.268256,NaN,28.164115,4664.708148,NaN,NaN,26.752743,71.778749,NaN,25.941951,2034-08-03 07:50:18.399814
3,la4kbfngq294u67n2c,2.038185e+09,28.080093,NaN,15.080402,1.128799,25.803549,NaN,4220.699100,NaN,NaN,202.997712,NaN,NaN,35.671188,2034-08-02 23:33:45.203195
4,la4kbfng8gttqvum8u6,2.038188e+09,NaN,NaN,14.131860,NaN,NaN,23.041482,4715.396511,NaN,NaN,10.353028,-295.201176,308.616110,NaN,2034-08-03 00:13:48.731930

In [226]:

df['date_converted'] = df['date_converted'].dt.strftime('%Y-%m-%d')

In [227]:
#Substituindo os NaN por zero
df = df.fillna(0)

In [229]:
#Pegando a data da ultima semana
maxima = max(df['date_converted'] )

data = datetime.datetime.strptime(maxima, "%Y-%m-%d") - datetime.timedelta(7)
data = datetime.datetime.strftime(data, "%Y-%m-%d")
data

'2034-07-27'

In [240]:
#Filtrando os produtos da última semana
df[df['date_converted'] >= data]

,id,date,prod_0,prod_2,prod_3,prod_4,prod_6,prod_9,prod_15,prod_1,prod_5,prod_8,prod_10,prod_11,prod_7,date_converted
1,la4kbfnatn0dkhiyub,2.037586e+09,5.519759,2.702133,0.000000,3.728257,0.000000,418.687083,4635.760524,0.000000,0.000000,0.000000,0.000000,53.428805,33.326711,2034-07-27
3,la4kbfna5pz82ep20xc,2.037602e+09,27.484372,22.253394,15.026011,7.514640,0.000000,0.000000,4633.226634,5.677829,0.000000,0.000000,0.000000,0.000000,0.000000,2034-07-27
6,la4kbfnaa59t5h8bz8,2.037596e+09,38.402082,49.397046,7.867134,32.249144,0.000000,40.623755,4372.558883,48.903647,0.000000,141.654652,0.000000,-18.421032,7.123522,2034-07-27
8,la4kbfnaa2ydmqgpz7d,2.037594e+09,47.820896,12.859825,12.912609,0.000000,6.665552,16.787010,4364.318609,28.465547,19.235907,345.024761,0.000000,614.268090,0.000000,2034-07-27
10,la4kbfnaswue493qah,2.037585e+09,0.000000,35.814131,0.000000,10.308062,0.000000,0.000000,5032.440695,0.000000,0.000000,0.000000,424.304634,285.901813,12.612985,2034-07-27
11,la4kbfnad78b8k2248u,2.037594e+09,0.000000,0.000000,36.719692,44.131477,32.666828,715.163904,4646.344398,0.000000,31.123289,32.391193,0.000000,0.000000,0.000000,2034-07-27
15,la4kbfnahtv4dgxwpns,2.037606e+09,0.000000,24.966348,0.000000,0.000000,15.744299,159.069320,4405.162139,20.327226,0.000000,45.540365,498.195970,313.400982,0.000000,2034-07-27
0,la4kbfng3m250g43sm1,2.038190e+09,11.603192,0.000000,27.185222,38.071281,0.000000,16.841214,4564.637594,0.000000,4.786115,37.517901,0.000000,0.000000,0.000000,2034-08-03
1,la4kbfngyllj6bpt2m,2.038176e+09,48.959135,0.000000,7.531368,0.000000,23.605153,11.399484,4440.978287,12.733481,45.945152,11.454695,0.000000,0.000000,0.000000,2034-08-02
2,la4kbfngb5f61su3jb,2.038215e+09,14.023611,27.949262,0.000000,26.268256,0.000000,28.164115,4664.708148,0.000000,0.000000,26.752743,71.778749,0.000000,25.941951,2034-08-03
3,la4kbfngq294u67n2c,2.038185e+09,28.080093,0.000000,15.080402,1.128799,25.803549,0.000000,4220.699100,0.000000,0.000000,202.997712,0.000000,0.000000,35.671188,2034-08-02
4,la4kbfng8gttqvum8u6,2.038188e+09,0.000000,0.000000,14.131860,0.000000,0.000000,23.041482,4715.396511,0.000000,0.000000,10.353028,-295.201176,308.616110,0.000000,2034-08-03

In [241]:
#Cálculo da porcentagem sobre o produto novo
df_novos = df[df['date_converted'] >= data]
df_filtro = pd.DataFrame(df_novos[['prod_0', 'prod_1', 'prod_2', 'prod_3', 'prod_4', 'prod_5', 'prod_6', 'prod_7', 'prod_8', 'prod_9', 'prod_10', 'prod_11', 'prod_15']]*1.15)

In [242]:

df_filtro_final = pd.concat([df_novos[['id', 'date', 'date_converted']], df_filtro], axis = 1)

In [243]:
df[df['date_converted'] >= data] = df_filtro_final

In [244]:
#Para as semanas seguintes, calcule a média da quantidade de vendas acima do valor mediano, tanto para a semana anterior quanto para a semana corrente. Em seguida, calcule a variação percentual da 
#quantidade de vendas. 
df['week'] = df['date_converted'].apply(lambda x: x.isocalendar().week)
df['year'] = df['date_converted'].apply(lambda x: x.isocalendar().year)

df

AttributeError: 'str' object has no attribute 'isocalendar'